* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #333;
  max-width: 1200px;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  max-width: 1140px;
}

.logo img {
  height: 50px;
}

.nav-ber  a {
  margin-left: 25px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-ber a:hover {
  color: #ff6600;
}

.image-section {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  max-width: 1140px;
  
  
}
.title-ber{
    margin: 20px;

}

.header-2 {
  font-size:48px;
  color: #222;
}

.header-2 span {
  color: #ff6600;
}

.para-1 {
  max-width: 700px;
  margin: 0 auto;
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

.flower-img {
  margin-top:40px;
}

.flower-img img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.flower-box{
  max-width:1140px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin:10px;
  margin-left:50px;
  gap:10px;
  margin-top:20px;
}
.product{
  width:200px;
  height:350px;

}
.product img{
  width: 180px;
  height: 250px;

}
.H4{
  margin-left: 40px;
}
.price{
  margin-left: 55px;
}
.button-1{
  width: 180px;
  margin-top: 5px;
  background:#E95A08;
  border:none;
  padding: 5px;
  color:#f8f8f8;
  cursor: pointer;
}
.header-3{
  text-align: center;

}
.header-3 span{
  color: #ff6600;

}
.para-2{
  text-align: center;
  margin-top: 10px;
}